.button {
    width: 100px;
    height: 50px;
    border: solid;
    border-color: rgb(72, 96, 124);
    border-radius: 25px;
}

.header {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    gap: 60px;
    
    
}


.text-information {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: solid;
    border-color: rgb(78, 104, 247);
}

#text-input {
    border-bottom: solid;
    border-color: rgb(78, 104, 247);
}

.input-button {
    border: solid;
    border-color: rgb(72, 96, 124);
    border-radius: 25px;
}

.input-container {
    display: grid;
    width: 200px;
    margin: auto;
    gap: 10px;
}
.text {
    text-align: center;
}